.App {
  text-align: center;
  background-color: whitesmoke;
  color: black;
 
}
.image {
  
  width: 220px;
  height: 320px;
  justify-self: center;
  background: url(newimage.jpeg);
  
  background-repeat: no-repeat;
  
}
.nav-img {
    background-color: rgba(124, 150, 199, 0.397);
}
.btn1 {
  height: 34px;
  width: 115px;
  left: 151px;
  top: 468px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  margin-right: 10px;

}
.btn1:hover{
  color:red;
  transform: scale(1.1);
  transition: 1.5s;
}
.btn2 {
  background: rgba(80, 147, 226, 1);
  height: 34px;
  width: 115px;
  left: 151px;
  top: 468px;
  border-radius: 6px;
  padding: 9px, 13px, 9px, 11px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.btn2:hover {
  color: red;
  transform: scale(1.1);
  transition: 1.5s;
}
.li:link {
    color: red
}
.li:visited {
  color: white;
}

.li:hover, .btn:hover {
  color:black;
}
.name {
      font-size: 2em;
      color: tomato;
      margin-top: 0%;
      margin-bottom: 0%;

}
h2 {
  margin-bottom: 0%;
}
.jd {
    margin-bottom: 0%;
}
.main {
    position: inherit;
}

.social-container {
  background: rgba(124, 150, 199, 0.397);
  height: 110px;

}
a:hover {
  transform: scale(1.8);
  transition: 1s;
}
a.social {
  margin: 0 1rem;
  
  display: inline-block;
  
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}